* {
  box-sizing: border-box; /* soma sempre o padding e a borar ao height e width */
}

:root {
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
}

body {
  margin: 0;
  color: #333333;
  font-family: var(--type-first);
  padding-top: 4rem; /* por cauda da altura fixa do header */
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  /*
  props para deixar as imagens responsivas
  só expande até o tamanho do elemento que a envolve
  */
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333333;
}

a {
  text-decoration: none;
}

/* classe geral */
.container {
  /* para deixar o app sempre no meio, estilo feed do Instagram */
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

